/*Fonts*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/*Variables*/

:root {
  --grey-base: #eeeeee;
  --red-rest: #fb565a;
  --red-hover: #e74246;
  --red-tap: #d7373b;
  --green-rest: #00ca74;
  --green-hover: #00bc6c;
  --green-tap: #00aa62;
  --yellow-rest: #efc84a;
  --yellow-hover: #eab534;
  --yellow-tap: #e5a722;
  --black-text-tap: rgba(0, 0, 0, 0.3);
  --white-text-tap: rgba(255, 255, 255, 0.3);
  --grey-hover: #dfdfdf;
  --grey-tap: #d5d5d5;
}

/* General */

.header {
  padding-top: 49px;
}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

.contacts-where {
  margin-top: 30px;
  background-image: url("../img/map1.jpg");
}

.headline {
  margin: 0;
}

.main-headline {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.cart::before {
  content: url("../img/cart-icon.svg");
  position: absolute;
  transform: translateX(-41px) translateY(1px);
}

.vk::before {
  content: url("../img/vk-icon.svg");
}

.insta::before {
  content: url("../img/insta-icon.svg");
}

.facebook::before {
  content: url("../img/fb-icon.svg");
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.grid-filter label::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 4px solid rgba(77, 77, 77, 0.4);
  transform: translateX(-35px);
}

.grid-filter input:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: rgba(77, 77, 77, 0.4);
  transform: translateX(-118px) translateY(8px);
}

.special-filter input:not(:checked) + label::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 3px;
  border: 2px solid rgba(77, 77, 77, 0.4);
  transform: translateX(-35px) translateY(1px);
}

.special-filter input:checked + label::before {
  content: url("../img/checked-box.svg");
  opacity: 0.4;
  position: absolute;
  transform: translateX(-35px) translateY(1px);
}

.special-filter input:checked + label::after {
  content: url("../img/checkmark.svg");
  opacity: 0.4;
  position: absolute;
  transform: translateX(-95px) translateY(3px);
  box-shadow: 0 0 0 0 #f00;
}

/* Buttons */

.red-button {
  background-color: var(--red-rest);
}

.green-button {
  background-color: var(--green-rest);
}

.yellow-button {
  background-color: var(--yellow-rest);
}

.red-button,
.green-button,
.yellow-button {
  height: 50px;
  border-radius: 3px;
  color: white;
}

.learn-more {
  padding-left: 54px;
  padding-right: 54px;
}

.order {
  padding-left: 39px;
  padding-right: 40px;
}

.no-border {
  border-width: 0;
}

.normal-button {
  background-color: white;
}

.down::before {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 9px solid black;
}

.up::after {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-bottom: 9px solid black;
}

.normal-button:not(.selected) {
  opacity: 30%;
}

.slider-buttons > li {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
}

.slider-buttons .selected::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.submit {
  width: 260px;
  height: 50px;
}

/* Misc */

.header,
.page-title,
.slider-section {
  background-color: var(--grey-base);
  width: 100%;
}

.slider-section {
  height: 424px;
}

.nav,
.no-border,
.low-headline,
.filter-item legend,
.stats,
.paginator,
.sort-name {
  text-transform: uppercase;
}

.social > li {
  height: 81px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.contacts-write {

  width: 219px;
  height: 216px;
  padding: 49px 50px 47px;

  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-title {
  padding-top: 78px;
}

.inline-list > li {
  margin-right: 45px;
}

.product-list-parent::after,
.partners-parent::before,
.partners-parent::after {
  content: "";
  position: absolute;
  width: 1158px;
  height: 2px;
  background-color: var(--grey-base);
}

.partner-html::after,
.partner-borodinski::after,
.partner-pink::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--grey-base);
}

.what-can-make > li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--red-rest);
}

.link-selected::after {
  content: "";
  position: absolute;
  width: 73px;
  height: 2px;
  background-color: var(--red-rest);
}

.paginator > a {
  background-color: var(--grey-base);
  padding: 17px 20px 14px;
  margin-right: 8px;
}

.paginator > a.current {
  border: 3px solid #dbdbdb;
  background-color: white;
  padding: 14px 17px 11px;
}

.paginator > a.next-page {
  padding: 17px 78px 14px;
}

.page-title {
  height: 156px;
}

.product-examples > li::before {
  content: "";
  position: absolute;
  transform: translateX(16px) translateY(-27px);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 23px 0 0 white, 46px 0 0 white;
}

.product-examples > li {
  border-radius: 4px;
  box-shadow: 0 -40px 0 rgba(77, 77, 77, 0.1);
}

.product-examples > li:hover {
  box-shadow: 0 -40px 0 rgba(77, 77, 77, 1), 0 7px 10px rgba(77, 77, 77, 0.3);
}

/* Font sizes */

.catchphrase,
.main-headline {
  font-size: 55px;
  line-height: 55px;
}

.sixteen-eighteen {
  font-size: 16px;
  line-height: 18px;
}

.product-title {
  font-size: 24px;
  line-height: 30px;
}

.fourty-five {
  font-size: 45px;
  line-height: 45px;
}

.contact-title {
  font-size: 18px;
  line-height: 30px;
}

.friends {
  font-size: 36px;
  line-height: 36px;
}

.sort-name {
  font-size: 18px;
  line-height: 30px;
}

.sort > button {
  font-size: 14px;
  line-height: 18px;
}

/* Font weights */

.nav,
.no-border,
.catchphrase,
.about-us,
.paginator {
  font-weight: 500;
}

.low-headline,
.stats,
.friends,
.sort-name {
  font-weight: 700;
}

.normal-button {
  font-weight: 400;
}

/* Display */

.slide {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.product-list {
  display: flex;
  justify-content: flex-start;
}

.introduction {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1085px;
}

.catalog-full {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px 48px;
}

.sorting-options {
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sort,
.paginator {
  grid-column: 2 / -1;
}

.sort {
  display: flex;
}

.filter-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-examples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 72px 42px;
}

.product-examples > li {
  width: 360px;
  height: 578px;
}

.header-display {
  display: flex;
  justify-content: space-between;
}

.inline-list {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.stats-list {
  display: flex;
  justify-content: space-around;
}

.social {
  display: grid;
  grid-template-columns: 81px 81px 81px;
  gap: 9px;
}

.social > li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-buttons {
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.what-can-make {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Double slider */

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

/* Pixel perfect */

.nav {
  margin-top: 14px;
  transform: translateX(-14px);
}

.cart {
  margin-top: 10px;
  transform: translateX(6px);
}

.slider-description {
  margin-top: 16px;
}

.math-design {
  transform: translateY(-28px);
}

.learn-more {
  transform: translateY(-5px);
}

.slider-image {
  transform: translateX(10px) translateY(-7px);
}

.slider-buttons {
 transform: translateX(536px) translateY(-137px);
}

.slider-buttons .selected::after {
  transform: translateX(-1px) translateY(-12px);
}

.product-list-parent {
  margin-top: 80px;
}

.product-list > li {
  margin-right: 100px;
}

.product-list > li:last-child {
  margin-right: 0px;
}

.product-title {
  margin-top: 18px;
}

.order {
  margin-top: 16px;
}

.introduction {
  margin-top: 155px;
}

.product-list-parent::after {
  transform: translateY(64px);
}

.about-us {
  margin-bottom: 33px;
}

.doing-requests {
  margin-top: 42px;
}

.what-can-make {
  margin-top: 22px;
  margin-left: 36px;
}

.what-can-make > li::before {
  transform: translateX(-36px) translateY(11px);
}

.logo-colours {
  transform: translateX(27px) translateY(-34px);
}

.stats {
  transform: translateY(-20px) translateX(43px);
}

.stats-list {
  transform: translateY(3px) translateX(27px);
}

.stats-list > li:last-child {
  transform: translateX(3px);
}

.stats-list .sixteen-eighteen {
  margin-top: 22px;
}

.partners {
  margin-top: 90px;
  margin-left: 32px;
}

.partner-html {
  transform: translateY(10px);
}

.partner-borodinski {
  transform: translateX(-11px) translateY(4px);
}

.partner-pink {
  transform: translateX(-14px) translateY(4px);
}

.partner-mishka {
  transform: translateY(7px);
}

.partners-parent::before {
  transform: translateY(-44px);
}

.partner-html::after {
  transform: translateX(48px) translateY(1px);
}

.partner-borodinski::after {
  transform: translateX(44px) translateY(18px);
}

.partner-pink::after {
  transform: translateX(55px) translateY(-1px);
}

.contacts-where {
  margin-top: 123px;
}

.partners-parent::after {
  transform: translateY(25px);
}

.our-friendship {
  margin-left: 13px;
  transform: translateY(-13px);
}

.friend-discount {
  transform: translateY(-26px);
}

.link-selected::after {
  transform: translateX(-74px) translateY(40px);
}

.main-headline {
  transform: translateY(-7px);
}

.catalog-full {
  margin-top: 58px;
}

.grid-filter span,
.special-filter span {
  margin-top: 16px;
  margin-left: 35px;
}

.grid-filter {
  margin-top: 58px;
}

.special-filter {
  margin-top: 47px;
}

.submit {
  margin-top: 48px;
}

.catalog-products {
  transform: translateY(-21px) translateX(2px);
}

.sort-name {
  margin-right: 260px;
}

.sort > button:not(.up):not(.down) {
  transform: translateY(1px);
  margin-right: 14px;
}

.down {
  transform: translateX(22px) translateY(-6px);
}

.up {
  transform: translateX(38px) translateY(-9px);
}

.product-examples {
  margin-top: 70px;
}

.paginator {
  margin-top: 71px;
  margin-bottom: -73px;
}
